# Sample tfvars file 
# omit .sample from extension before applying 

############################

# Stratoscale Symphony credentials

symp_access_key = "<Access key>"
symp_secret_key = "<Secret key>"
symphony_ip = "<Symphony IP>"

############################

# Web servers info

# Number of web servers (load balancer will automatically manage target groups)

web_number = "2"

# Image to use for web servers -- use an Ubuntu Xenial cloud image
# We recommend that you use this one: 
# https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img

web_ami = "<AMI image ID>"

web_instance_type = "t2.small"

connect_instances_to_web_ips = false

public_keypair_path = "<Path to public keypair>"

############################

# Database information
# (Wordpress container will use wordpress database by default)

db_user = "admin"
db_password = "adminpassworddb"
db_name = "wordpress"

############################

